:root {
  --galactic-blue: #755cde;
  --summer-yellow: #f6a560;
  --pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --black: #030303;
  --medium-brown: #7a746e;
  --light-cream: #fff7f0;
  --dark-purple: #552049;
  --white-font-color: #ffffff;
  --heading-L: 56px;
  --heading-M: 40px;
  --heading-S: 32px;
  --font-size: 18px;
  --btn-font-size: 14px;
  --font-family: "Plus Jakarta Sans", sans-serif;
  --margin-btw-content: 48px;
  --graphic-design-card-img: url("./assets/pattern-graphic-design.svg");
  --UI-card-img: url("./assets/pattern-ui-ux.svg");
  --apps-card-img: url("./assets/pattern-apps.svg");
  --illustrations-card-img: url("./assets/pattern-illustrations.svg");
  --Photography-card-img: url("./assets/pattern-photography.svg");
  --motion-graphics-card: url("./assets/pattern-motion-graphics.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--light-cream);
}
.wrapper {
  margin: 0 auto;
  padding: 20px;
}
header,
footer,
main,
section,
article {
  display: flex;
  align-items: center;
}

header,
footer {
  width: 100%;
  justify-content: space-between;
  min-height: 48px;
  margin-bottom: var(--margin-btw-content);
}
button {
  border: none;
  border-radius: 28px;
  color: var(--light-cream);
  font-size: var(--btn-font-size);
  font-weight: bold;
  height: 48px;
  padding: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header button,
footer button {
  background-color: var(--black);
}
.hero-section,
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--margin-btw-content);
  overflow: hidden;
}
h1,
h2,
h3 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px 12px;
}
h1 {
  min-height: 90;
  font-size: 36px;
  color: var(--black);
}
p {
  color: var(--medium-brown);
  text-align: center;
  padding: 16px 29px;
}
.hero-section p {
  min-height: 104px;
  padding: 15px 29px;
}

/*skills section implemented with grid*/
.skills-section {
  display: grid;
  gap: 20px;
  width: 100%;
  margin-bottom: var(--margin-btw-content);
}
.skills-card {
  border-radius: 6px;
  padding: 20px;
  background-position: top 20px right 20px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.skills-card div {
  font-size: 24px;
  font-weight: bold;
  color: var(--white-font-color);
}
.graphic-design-card {
  background-image: var(--graphic-design-card-img);
  background-size: 128px 192px;
  background-color: var(--galactic-blue);
  height: 360px;
  width: 100%;
}
.design-subskills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.design-subskills > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.UI-card,
.apps-card {
  height: 190px;
  width: 47%;
  background-size: 54px 64px;
}
.UI-card {
  background-image: var(--UI-card-img);
  background-color: var(--summer-yellow);
}
.apps-card {
  background-image: var(--apps-card-img);
  background-color: var(--pink);
}
.illustrations-card,
.motion-graphics-card {
  background-size: 128px 64px;
}
.illustrations-card {
  background-image: var(--illustrations-card-img);
  background-color: var(--light-red);
  height: 158px;
  width: 100%;
}
.Photography-card,
.motion-graphics-card {
  height: 190px;
  width: 100%;
}
.Photography-card {
  background-image: var(--Photography-card-img);
  background-color: var(--cyan);
  background-size: 160px 64px;
}
.motion-graphics-card {
  background-image: var(--motion-graphics-card);
  background-color: var(--dark-purple);
}

/*About section*/
.about-section,
.booking-section,
.about-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-section,
.my-work-section {
  margin-bottom: var(--margin-btw-content);
}
h2 {
  font-size: 26px;
}
.about-section img {
  width: 80%;
  height: 300px;
  flex-shrink: 0;
}
.about-section button {
  background-color: var(--light-red);
}
.my-work-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

/*slider section*/
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}
.slider img {
  height: 180px;
  width: 270px;
}
.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.arrows img {
  background-color: var(--black);
  border-radius: 50%;
  padding: 20px;
}
/*booking-section*/
.booking-section {
  min-height: 320px;
  background-color: var(--black);
  color: white;
  width: 100%;
  margin-bottom: var(--margin-btw-content);
}
.booking-section button {
  background-color: var(--light-red);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 600px;
  }
  .hero-section {
    justify-content: center;
    align-items: center;
  }
  h1 {
    min-height: 71px;
    font-size: var(--heading-L);
  }
  h2 {
    font-size: var(--heading-M);
  }
  p {
    padding: 0;
  }
  .hero-section p {
    height: 56px;
    width: 80%;
  }
  .skills-section {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "graphic-design design-subskill"
      "photography motion-graphics";
  }
  .graphic-design-card,
  .design-subskills,
  .illustrations-card,
  .Photography-card,
  .motion-graphics-card {
    width: auto;
  }
  .graphic-design-card {
    grid-area: graphic-design;
  }
  .design-subskills {
    grid-area: design-subskill;
  }
  .illustrations-card {
    grid-area: illustrations;
  }
  .Photography-card {
    grid-area: photography;
  }
  .motion-graphics-card {
    grid-area: motion-graphics;
  }
  /* .skills-section {
    flex-direction: row;
  }
  .skills-section > * {
    height: 400px;
  } */
  .about-section {
    flex-direction: row;
  }
  .about-section div {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-section h1,
  .about-section p {
    text-align: justify;
  }
  .about-section img {
    height: 364px;
    width: 45%;
  }
  h2 {
    font-size: var(--heading-S);
  }
  .slider img {
    height: 250px;
    width: 365px;
  }
}
@media only screen and (min-width: 1000px) {
  .wrapper {
    max-width: 990px;
  }
  .Photography-card,
  .motion-graphics-card {
    height: 175px;
  }
  .skills-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "graphic-design design-subskill photography "
      "graphic-design design-subskill motion-graphics";
  }
  .booking-section {
    flex-direction: row;
    justify-content: space-around;
  }
  .booking-section div {
    width: 50%;
  }
  .booking-section p {
    text-align: justify;
  }
  .booking-section h2 {
    text-align: left;
    padding-left: 0;
  }
}
/* .skills-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: var(--margin-btw-content);
} */
/* .skills-section > * {
  height: 400px;
  width: 100%;
}
.skills-card {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.graphic-design-card {
  background-color: var(--galactic-blue);
  height: 400px;
}

.graphic-design-card img {
  height: 192px;
  width: 128px;
}
.design-subskills {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.design-subskills > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.design-subskills > div:first-child > * {
  height: 182px;
  width: 165px;
}
.design-subskills > div:first-child img {
  height: 64px;
  width: 54px;
}
.UI-card {
  background-color: var(--summer-yellow);
}
.apps-card {
  background-color: var(--pink);
}

.illustrations-card {
  background-color: var(--light-red);
  width: 100%;
  height: 158px;
}
.Photography-card,
.motion-graphics-card {
  width: 100%;
  height: 182px;
}
.media-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.Photography-card {
  background-color: var(--cyan);
}
.motion-graphics-card {
  background-color: var(--dark-purple);
} */
